
    /*#pane{
        -fx-background-image: url("file:resource/Images/space_background.png");
        -fx-background-repeat: stretch;   
        -fx-background-size: 750 950;
        -fx-background-position: center center;
    }*/